.sup{
    border: 1px solid black;
    width: 100%;
    height:200px;

}

.inf{
  border: 1px solid black;
  width: 100%;
  height:200px;


}

.button-option{
  border: 1px solid black;
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  outline: none



}
