.button-rules{
  width: 180px;
  height: 40px;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  color: #eee;
  font-size: 1.2rem;
  text-align: center;
  float: right;
  margin-right: 30px;
  background: none;
  outline: none

}